body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(135deg, #d0f0c0, #f9f9f9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
  }
  
  h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #2d572c;
  }
  
  h1 span {
    background: linear-gradient(to right, #469e35, #7ed957);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
  }
  
  h2 {
    font-weight: 400;
    color: #555;
    margin-bottom: 30px;
  }
  
  .dropdown-wrapper {
    margin-bottom: 25px;
  }
  
  .dropdownContent {
    width: 100%;
    padding: 12px 20px 12px 12px;;
    font-size: 16px;
    border: 2px solid #ccc;
    appearance: none;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"%3E%3Cpath d="M1 4L6 9L11 4" stroke="%23469e35" stroke-width="2" fill="none"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 12px;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .dropdownContent:focus {
    border-color: #6fbf73;
  }
  
  .learn-more {
    background-color: #6fbf73;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .learn-more:hover {
    background-color: #57a05f;
    transform: scale(1.05);  
  }
  
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #animatedText .line {
  justify-content: center;

}

.yes-or-no {
  display: none;
}


.nutrition-fields span {
  font-weight: 400;
  font-size: 20px;
  padding-right: 30px;
}

.text-fields {
  font-size: 20px;
  border-radius: 8px;
}

.text-fields:focus {
  border-color: #6fbf73;
}

.nutrition-fields {
  margin-bottom: 32px;
  line-height: 40px;
}
  